# Arquivos de ambiente virtual
venv/
.env

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos temporários de execução
*.log
*.sqlite3
*.db

# Configurações do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
